flow.json
[{"id":"5d3eb631.e0e238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dcbc1938.dedc","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["a56fd436.641618"]]},{"id":"a56fd436.641618","type":"debug","z":"5d3eb631.e0e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":120,"wires":[]},{"id":"64fd7e20.f7295","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["a56fd436.641618"]]}]