flow.json
[{"id":"5d3eb631.e0e238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dbe39be8.679f48","type":"mqtt-broker","z":"","name":"","broker":"mqtt.unixweb.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcbc1938.dedc","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["a56fd436.641618","142d8a42.096876"]]},{"id":"a56fd436.641618","type":"debug","z":"5d3eb631.e0e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":140,"wires":[]},{"id":"64fd7e20.f7295","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["a56fd436.641618"]]},{"id":"142d8a42.096876","type":"mqtt out","z":"5d3eb631.e0e238","name":"","topic":"github/example","qos":"","retain":"","broker":"dbe39be8.679f48","x":420,"y":80,"wires":[]}]