flow.json
[{"id":"5d3eb631.e0e238","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dbe39be8.679f48","type":"mqtt-broker","z":"","name":"","broker":"mqtt.unixweb.de","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bacc38a.8b11c48","type":"googlehome-config-node","z":"","ipaddress":"192.168.10.30","language":"de"},{"id":"dcbc1938.dedc","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["a56fd436.641618","142d8a42.096876"]]},{"id":"a56fd436.641618","type":"debug","z":"5d3eb631.e0e238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":240,"wires":[]},{"id":"64fd7e20.f7295","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["a56fd436.641618","66faa4d7.fe29a4","7be44758.1632d8"]]},{"id":"142d8a42.096876","type":"mqtt out","z":"5d3eb631.e0e238","name":"","topic":"github/example","qos":"","retain":"","broker":"dbe39be8.679f48","x":460,"y":180,"wires":[]},{"id":"66faa4d7.fe29a4","type":"googlehome-notify","z":"5d3eb631.e0e238","server":"bacc38a.8b11c48","name":"","x":460,"y":320,"wires":[]},{"id":"7be44758.1632d8","type":"mqtt out","z":"5d3eb631.e0e238","name":"","topic":"github/example2","qos":"","retain":"","broker":"dbe39be8.679f48","x":460,"y":400,"wires":[]},{"id":"dd5d7b86.599718","type":"comment","z":"5d3eb631.e0e238","name":"Node-Red Example with Github","info":"","x":290,"y":80,"wires":[]},{"id":"d959fdd.83ff7","type":"inject","z":"5d3eb631.e0e238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":500,"wires":[[]]}]